@page
@model MyBug.Pages.Bugs.IndexModel
@{
}


<a asp-page="create" class="btn btn-success">Create new</a>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <th>Name</th>
            <th>IsDone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs)
        {
            <tr>

                <td>@bug.Id</td>
                <td>@bug.Name</td>
                <td>@bug.IsDone</td>
                <td>
                    <a asp-page="details" asp-route-id="@bug.Id" class="btn btn-light">Details</a>
                    <a asp-page="delete" asp-route-id="@bug.Id" class="btn btn-danger">Delete</a>
                    <a asp-page="edit" asp-route-id="@bug.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>